<footer class="content d-flex align-items-center justify-content-center justify-content-around text-center text-white py-5">

    <div class="part-1">
      <h3>LOCATION</h3>
      <p>2215 John Daniel Drive</p>
      <h6>Clark, MO 65243</h6>
    </div>


    <div class="part-2">
      <h3>AROUND THE WEB</h3>
      <div class="icons d-flex align-items-center justify-content-center gap-2">
        <span><i class="fa-brands fa-facebook"></i></span>
        <span><i class="fa-brands fa-twitter"></i></span>
        <span><i class="fa-brands fa-linkedin"></i></span>
        <span><i class="fa-solid fa-globe"></i></span>
      </div>
    </div>


    <div class="part-3">
      <h3>ABOUT FREELANCER</h3>
      <p>Freelance is a free to use, licensed Bootstrap theme created
        <br> by Route</p>
    </div>


</footer>

<div class="mini-content text-center text-white">Copyright © Your Website 2021</div>




