section{
  height: 600px;
  background-color: #1ABC9C;
}
h1{
  padding-top: 100px;
}
.star::before{
  content: "";
  position: absolute;
  width: 90px;
  height: 4px;
  background-color: #fff;
  bottom: 10px;
  right: 0;
  left:40px;
  top: 15px;
}
.star::after{
  content: "";
  position: absolute;
  width: 90px;
  height: 4px;
  background-color: #fff;
  bottom: 10px;
  right: 100px;
  left:-100px;
  top: 15px;
}
