<section>

  <div class="text-center py-4">
    <h1>CONTACT COMPONENT</h1>
    <span class="star position-relative fs-4"><i class="fa-solid fa-star"></i></span>

  </div>


    <form class="w-50 p-3 mx-auto mt-5">
      <label  class="position-relative top-0 msg" for="userName">userName:</label>
      <input  type="text" id="userName" placeholder="userName" class=" border-0 border-bottom py-3 position-relative" name="userName">


      <label class="position-relative top-0 msg" for="userAge">userAge:</label>
      <input type="text" id="userAge" placeholder="userAge" class="border-0 border-bottom py-3 position-relative" name="userAge">


      <label class="position-relative top-0 msg" for="userEmail">userEmail:</label>
      <input type="text" id="userEmail" placeholder="userEmail" class=" border-0 border-bottom py-3 position-relative" name="userEmail">


      <label class="position-relative top-0 msg" for="userPassword">userPassword:</label>
      <input type="text" id="userPassword" placeholder="userPassword" class=" border-0 border-bottom py-3 position-relative" name="userPassword">


      <button class=" mt-4 text-white rounded border-0" type="submit">send Message</button>

  </form>






</section>
