
<section>
  <div class="container">
    <div class="text-center py-4 ">
      <h1>PORTFOLIO COMPONENT</h1>
      <span class="star position-relative fs-4"><i class="fa-solid fa-star"></i></span>
    </div>

    <div class="row gy-4">
      <div class="col-sm-6 col-md-4">
        <div class="item position-relative overflow-hidden rounded">
          <div class="overflow-hidden">
            <img src="./images/poert1 (1).png" alt="" class="w-100" >
          </div>
          <div class="layer" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div class="icons text-center">
            <div>
              <span><i class="fa-solid fa-plus text-white"></i> </span>
            </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="item position-relative overflow-hidden rounded">
          <div class="overflow-hidden">
            <img src="./images/port2 (1).png" alt="" class="w-100">
          </div>
          <div class="layer" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div class="icons text-center">
            <div>
              <span><i class="fa-solid fa-plus text-white"></i> </span>
            </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="item position-relative overflow-hidden rounded">
          <div class="overflow-hidden">
            <img src="./images/port3 (1).png" alt="" class="w-100">
          </div>
          <div class="layer" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div class="icons text-center">
            <div>
              <span><i class="fa-solid fa-plus text-white"></i> </span>
            </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-sm-6 col-md-4">
        <div class="item position-relative overflow-hidden rounded">
          <div class="overflow-hidden">
            <img src="./images/poert1 (1).png" alt="" class="w-100" >
          </div>
          <div class="layer" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div class="icons text-center">
            <div>
              <span><i class="fa-solid fa-plus text-white"></i> </span>
            </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="item position-relative overflow-hidden rounded">
          <div class="overflow-hidden">
            <img src="./images/port2 (1).png" alt="" class="w-100">
          </div>
          <div class="layer" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div class="icons text-center">
            <div>
              <span><i class="fa-solid fa-plus text-white"></i> </span>
            </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="item position-relative overflow-hidden rounded">
          <div class="overflow-hidden">
            <img src="./images/port3 (1).png" alt="" class="w-100">
          </div>
          <div class="layer" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div class="icons text-center">
            <div>
              <span><i class="fa-solid fa-plus text-white"></i> </span>
            </div>
            </div>
          </div>
        </div>
      </div>










    </div>
  </div>
</section>







<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-body">
        ...
      </div>
    </div>
  </div>
</div>
